<div class="grid">
	<div class="col">
		<div class="grid">
			<div class="col">
				<app-header></app-header>
			</div>
		</div>
		<!--		<div class="grid">-->
		<!--			<div class="col">-->
		<!--				<app-top-menu></app-top-menu>-->
		<!--			</div>-->
		<!--		</div>-->
		<div class="grid">
			<div class="col">
				<app-node></app-node>
			</div>
		</div>
		<div class="grid">
			<div class="col-2">
				<app-side-menu></app-side-menu>
			</div>
			<div class="col">
				<router-outlet></router-outlet>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<app-footer></app-footer>
			</div>
		</div>
	</div>
</div>
